html {
 	height: 100%;
}

.bg-pic{
	background-image: url('http://wallpapersrang.com/wp-content/uploads/2015/12/beautiful-nature-wallpaper-pack-hd-pictures-4-hd-wallpapers-eakai.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

body {
 	height: 100%;
 	margin: 0;
}

.text-center{
	text-aligen: center;
}

.mg-ip{
	margin-left: 800px;
	margin-top: 50px;
}

.mg-ipbig{
	margin-left: -320px;
	margin-top: 100px;
}

.mg-add{
	
	margin-left: -370;
	margin-top: 150px;
	margin-bottom: 30px;
}

.box-detail{
	width: 350px;
	margin: 0 auto ;
}

.header{
	padding: 50px 0px 50px 0px;
	font-size: 60px;
	
	color: white;
}

#text-header{
	font-size: 50px;

}

.btn-circle-sm{
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}